@import "../../appearance/style/variables";

.fake-browser .ui.menu .item.fake-browser__menu-item--flex {
  display: flex;
  flex: 1;
}

.fake-browser {
  .ui.menu {
    background-color: $border-color;
    border-radius: 0;
    margin: 0;

    .item .icon {
      background-color: $sidebar-content-color;
      color: #ccc;

      &:hover {
        background-color: $editor-background-color;
      }
    }

    .item.fake-browser__menu-item--flex {
      display: flex;
      flex: 1;

      input {
        background-color: $sidebar-content-color;
        color: #ccc;
        outline: 0;
        border: 0;

        &:hover,
        &:focus {
          background-color: $editor-background-color;
        }
      }
    }
  }
}