@import "../../appearance/style/variables";

div.view-lines {
  font-family: 'Source Code Pro', Menlo, Consolas, monospace !important;
}

/*
regular: rgba(197, 200, 198, 1);
purple: rgba(178, 148, 187, 1)
blue: rgba(178, 148, 187, 1);
red: rgba(215, 90, 100, 1)
green: rgba(181, 189, 104, 1)
yellow: rgba(240, 198, 116, 1)
*/

/*regular text*/
.vs-dark .mtk1 {
  color: rgba(197, 200, 198, 1);
  /*color: #efefef;*/
}

/*tag attrs*/
.vs-dark .mtk4 {
  /*color: rgba(178, 148, 187, 1)*/
  color: rgba(215, 90, 100, 1);
}

/*numbers*/
.vs-dark .mtk6 {
  color: rgba(215, 90, 100, 1);
  /*color: rgba(222, 147, 95, 1);*/
  /*color: rgba(178, 148, 187, 1);*/
}

/*function/const qualifiers*/
.vs-dark .mtk8 {
  color: rgba(129, 162, 190, 1);
}

/*math symbols*/
.vs-dark .mtk9 {
  color: rgba(181, 189, 104, 1);
}

/*tokens*/
.vs-dark .mtk5 {
  /*color: rgba(181, 189, 104, 1);*/
  /*color: rgba(222, 147, 95, 1)*/
  /*color: rgba(178, 148, 187, 1)*/
  color: rgba(222, 147, 95, 1);
}

/*comments*/
.vs-dark .mtk7 {
  color: rgba(150, 152, 150, 1);
}

.vs-dark .mtk10 {
  color: rgba(138, 190, 183, 1);
}

.monaco-editor.vs-dark,
.monaco-editor.vs-dark .monaco-editor-background {
  background-color: $editor-background-color;
}