/*.surface-container {
  max-width: 100%;
  min-width: 100%;
  height: 100%; }*/

/*.surface-container iframe {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
//   border: 0; }*/

// .project-description {
//   margin-left: 15px;
// }

// .column-box {
//   display: flex;
//   flex-flow: column;
//   height: 100%; }

.surface {
  border: 0;
}

/* @TODO - correct this */
.Pane.vertical .surface {
  width: 100%;
  height: 100vh;
}

.Pane.horizontal .surface {
  width: 100%;
  height: 50vh;
}

/*
.Pane.horizontal .surface {
  width: 100%;
  height: calc(50vh - 25px)
}

.SplitPane .Pane.horizontal .surface {
  width: 100%;
  height: calc(50vh - 25px)
}

.SplitPane.hideLeft .Pane.horizontal.Pane1 {
  height: 0px !important;
}
.SplitPane.hideLeft .Pane.horizontal .surface {
  width: 100%;
  height: calc(100vh - 50px)
}
*/

.ui.error.message.render-frame__error-message {
  position: absolute;
  width: 50%;
  height: 150px;
  bottom: 80px;
  left: 25%;
  z-index: 999;
}