html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 62.5%;
  background-color: #121212;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

#window {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#window.sidebar-open #container {
  -webkit-animation: slide2 0.35s forwards;
  animation: slide2 0.35s forwards;
}
@-webkit-keyframes slide2 {
    100% { left: 200px; }
}
@keyframes slide2 {
    100% { left: 200px; }
}

#sidebar {
  position: absolute;
  left: -200;
  width: 200px;
  top: 0;
  bottom: 0;
}
#window.sidebar-open #sidebar {
  -webkit-animation: slide 0.35s forwards;
  animation: slide 0.35s forwards;
}
@-webkit-keyframes slide {
    100% { left: 0; }
}
@keyframes slide {
    100% { left: 0; }
}

#sidebar-content {
  background-color: #1e1e1e;
  margin: 0 6px;
  height: calc(100vh - 80px);
  /*height: calc(100vh - 80px - 8px);
  width: calc(200px - 8px);*/
}

#window.autohide-toolbar #toolbar-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
#window.autohide-toolbar.autohide-toolbar--show #toolbar-container {
  display: block;
}
#toolbar {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #121212;
}
.toolbar-title {
  font-size: 18px;
  padding: 5px;
  color: goldenrod;
  margin-left: 10px;
}
.toolbar-title.is-contenteditable:hover {
  /*border: 2px dashed #666;*/
  outline: #666 solid 2px;
}
.toolbar-title.is-contenteditable:focus {
  outline: #666 solid 2px;
}
#toolbar button i {
  font-size: 16px;
}
#toolbar .toolbar-tab {
  height: 100%;
  vertical-align: bottom
}
#toolbar .toolbar-tab button i {
  font-size: 12px;
}
.toolbar-tab button {
  margin-top: 5px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.toolbar-icon--enabled i {
  color: goldenrod;
}

#buffers {
  width: 100%;
  height: calc(100% - 80px);
}
#window.autohide-toolbar #buffers {
  height: 100%;
}
.buffer {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#buffers.buffers-split .buffer {
  display: inline-block;
  width: 50%;
  height: 100%;
}
@media screen and (orientation:portrait) {
  #buffers.buffers-split .buffer {
    width: 100%;
    height: 50%;
  }
}

.button {
  padding: 5px 15px;
  margin-right: 2px;
  color: #ccc;
  background-color: transparent;
  border: 0;
  text-transform: capitalize;
  font-size: 0.8rem;
  outline: 0;
  cursor: pointer;
}
.button:last-child {
  margin-right: 0;
}
.button i {
  font-weight: bold;
  font-size: 0.8rem;
}
.button.button-selected,
.button.button-selected:hover {
  background-color: #1e1e1e;
  color: #fefefe;
}
.button:hover {
  background-color: #2e2e2e;
}

.surface {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
}

.spacer {
  display: flex;
  flex: 1;
  flex-grow: 1;
}



.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted white; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
    font-size: 1rem;
    visibility: hidden;
    width: 200px;
    background-color: #999;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext.tooltiptext-right {
    top: -1px;
    left: 105%;
}
.tooltip .tooltiptext.tooltiptext-left {
    top: -1px;
    right: 105%;
}
.tooltip .tooltiptext.tooltiptext-top {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip .tooltiptext.tooltiptext-bottom {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}