@import "../../appearance/style/variables";

$text-color: rgba(204, 204, 204, 1);
$sans-serif-font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
$mono-font-family: 'Source Code Pro', Menlo, Consolas, monospace;

.accordion.directory-subtree {
  margin-top: 0 !important;
  padding-top: 0px !important;
}

.accordion.directory-tree .content {
  color: $text-color !important;
  padding-top: 0px !important;
}

.accordion.directory-tree > .title {
  background-color: $border-color;
  color: $text-color !important;
  // border-bottom: 5px solid #1e1e1e;
  padding-left: 15px !important;
}

.accordion.directory-subtree .content {
  color: $text-color !important;
  padding-left: 15px !important;
}

.accordion.directory-subtree .title {
  color: $text-color !important;
  padding-left: 15px !important;
  font-size: 15px !important;
  font-family: $sans-serif-font-family !important;
}

.accordion.directory-tree .content > .file {
  padding-left: 2.5rem !important;
  color: $text-color !important;
  font-size: 15px !important;
  font-family: $sans-serif-font-family !important;
}

// @TODO: validate
.accordion.directory-tree .file.title.file--selected {
  color: $text-highlight !important;
}

.title > i.icon:first-child {
  margin-right: 0.15em;
}
.title > i.icon:only-child,
.title > i.icon {
  margin-right: 0.5em;
}