@import "../../appearance/style/variables";

.examples-menu {
  &.ui.accordion .ui.list {
    .item {
      padding: 3px;
      cursor: pointer;

      i.icon {
        float: initial;
        padding-left: 7px;
        color: #ccc;
      }

      div.content .header {
        color: #ccc;
      }

      &:hover {
        background-color: $sidebar-highlight-color;
      }
    }
  }
}